*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    background-image: image-set("./descargar.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pantalla{
    background-color: white;
    height: 650px;
    width: 350px;
    border-radius: 20px;
    border: solid 7px black;
    overflow: hidden;
}