/* imports */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* variables */

:root{
    --ff-normal: "DM Sans", sans-serif;
    --secondary-color: #00B092 ;
    --tertiary-color: #FAFBFF;
    --quaternary-color:#6850E3;
    --link-color: #1d1e20;
}

/* normalización */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-normal);
}

/* header section */


header{
    display: flex;
    justify-content: space-between;
    height: 88px;
    padding: 40px;
    align-items: center;
}


nav a{
    text-decoration: none;
    color: var(--link-color);
    padding: 12px;
}

nav a:hover{
    opacity:0.7;
}

/* buttons */

.btn-secondary{
    border:2px solid var(--link-color);
    border-radius: 4px;
    font-weight: 700;
}

/* seccion-opiniones */

.opinions-section{
    padding: 24px 16px;
    display:flex;
    gap:25px;
    justify-content: center;
}

    /* caja-opinion */

    .verified-opinion{
    width:350px;
    background-color: var(--tertiary-color); 
    display:flex;
    justify-content: space-between;
    gap:16px;
    padding: 32px 24px;
    margin-bottom: 4px;
    }