*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.messageSide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 5px;
}
.message-input{
    height: 40px;
    width: 260px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);;
}
.botonSubmit{
    font-size: 45px;
    margin-top: 10px;
    background: none;
    border: none;
}